<div class="header">
    <div class="nav">
        <div class="logo">
            <a href="<%= themeConfig.domain %>">
                <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="">
            </a>
            <div class="site-title">
                <h1>
                    <%= themeConfig.siteName %>
                </h1>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <% menus.forEach(function(menu) { %>
                    <% if (menu.openType === 'External') { %>
                        <li>
                            <a href="<%= menu.link %>" class="menu" target="_blank">
                                <%= menu.name %>
                            </a>
                        </li>
                        <% } else { %>
                            <li>
                                <a href="<%= menu.link %>" class="menu">
                                    <%= menu.name %>
                                </a>
                            </li>
                            <% } %>
                                <% }); %>
            </ul>
        </div>
    </div>
</div>