<div class="post-container">
    <div class="post-container-left">
        <% posts.map(function(post) { %>
            <article class="post i-card">
                <h2 class="post-title">
                    <a href="<%= post.link %>">
                        <%= post.title %>
                    </a>
                </h2>
                <div class="post-info">
                    <time class="post-time"><%= post.dateFormat %>&nbsp;</time>
                    <% post.tags.forEach(function(tag) { %>
                        <a href="<%= tag.link %>" class="post-tag">
          #<%= tag.name %>&nbsp;
        </a>
                        <% }); %>
                </div>
                    <div class="post-article">
                <% if (themeConfig.showFeatureImage && post.feature) { %>
                        <a href="<%= post.link %>" class="post-feature-image" style="background-image:url(<%= post.feature %>) ">
                        </a>
                        <% } %>
                            <div class="post-abstract">
                            <% if (post.abstract) {%>
                                <div class="post-abstract-comtent">
                                    <%- post.abstract %>
                                </div>
                            <%} %>
                                <a class="btn btn-text" href="<%= post.link %>">Read More ~</a>
                            </div>
                    </div>
            </article>
            <% }); %>
    </div>
    <div class="post-container-right">
        <div class="id_card post i-card">
            <!-- <img class="id_card-avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt=""> -->
            <div class="id_card-avatar" style="background-image: url(<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>)"></div>
            <h1 class="id_card-title">
                <%= themeConfig.siteName %>
            </h1>
            <h2 class="id_card-description">
                <%= themeConfig.siteDescription %>
            </h2>
            <!--  -->
            <div class="id_card-sns">
                <a href="https://www.baidu.com"><i class="fa fa-github"></i></a>
                <a href="https://www.baidu.com"><i class="fa fa-github"></i></a>
                <!-- github -->
                <% if(site.customConfig.github){ %>
                    <a href="<%= site.customConfig.github %>"><i class="fa fa-github"></i></a>
                    <%}%>
                        <!-- twitter -->
                        <% if(site.customConfig.twitter){ %>
                            <a href="<%= site.customConfig.twitter %>"><i class="fa fa-twitter"></i></a>
                            <%}%>
                                <!-- weibo -->
                                <% if(site.customConfig.weibo){ %>
                                    <a href="<%= site.customConfig.weibo %>"><i class="fa fa-weibo"></i></a>
                                    <%}%>
                                        <!-- zhihu -->
                                        <% if(site.customConfig.zhihu){ %>
                                            <a href="<%= site.customConfig.zhihu %>"><i class="fa fa-zhihu"></i></a>
                                            <%}%>
                                                <!-- facebook -->
                                                <% if(site.customConfig.facebook){ %>
                                                    <a href="<%= site.customConfig.facebook %>"><i class="fa fa-facebook"></i></a>
                                                    <%}%>

            </div>
        </div>
        <div class="post i-card">
            <h3>公告</h3>
            <p>watchOS 6/macOS 10.15 已更新 iOS 13 仍请稍等
            </p>
        </div>
    </div>
</div>