<html>

<head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>
    <div class="main">
        <%- include('./includes/header') %>

            <%- include('./includes/post-list') %>

                <%- include('./includes/pagination') %>

                    <%- include('./includes/footer') %>
    </div>
</body>

</html>