<html>

<head>
    <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>

<body>
    <div class="main">
        <%- include('./includes/header') %>
            <div class="current-tag-container main-container">
                <h2 class="title">
                    标签：#
                    <%= tag.name %>
                </h2>
                <%- include('./includes/post-list') %>
                    <!-- <%- include('./includes/pagination') %> -->
            </div>
            <%- include('./includes/footer') %>
    </div>
</body>

</html>